.App {
  width: max-content;
  margin: auto;
}

.gray {
  color: gray;
}

.bold {
  font-weight: bold;
}

nav {
  box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.4);
  height: 50px;
  display: flex;
  padding: 20px 36px;
}

nav img {
  max-width: 600px;
}

.hero {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.grid {
  align-self: center;
  max-width: 400px;
}

.hero p {
  margin-top: -16px;
  margin-right: 50%;
}

.card-list {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
}

.card {
  width: 175px;
  font-size: 12px;
  padding: 0 16px;
  margin: auto;
  position: relative;
}

.card-photo {
  width: 100%;
  border-radius: 12px;
}

.card-stats {
  display: flex;
}

.card-star {
  height: 16px;
}

.card-title {
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-badge {
  position: absolute;
  top: 8px;
  left: 26px;
  background-color: #fff;
  padding: 5px 7px;
  border-radius: 2px;
  font-weight: bold;
}
