.App {
  width: max-content;
  margin: auto;
}

nav {
  box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.4);
  height: 50px;
  display: flex;
  padding: 20px 36px;
}

nav img {
  max-width: 600px;
}

.hero {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.grid {
  align-self: center;
  max-width: 400px;
}

.hero p {
  margin-top: -16px;
  margin-right: 50%;
}
